/* Header */

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
  color: white;
}

.header .headerContainer img {
  width: 150px;
}

.optionsHeader ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 18px;
}

.optionIndividual {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  gap: 20px;
}

.optionsHeader ul li a {
  transition: 0.3s all ease-in-out;
  color: white;
}

.optionsHeader ul li a:hover {
  transition: 0.3s all ease-in-out;
  color: rgb(0, 0, 0);
}

.optionIndividual:hover {
  background-color: #ffffff;
  color: black;
  padding: 12px;
  border-radius: 10px;

}

.imageLogoHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageLogoHeader img {
  width: 200px;
}
